<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <meta name="generator" content="Hugo 0.88.1">
        <title>Exitoso</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">

        
        <!-- Custom styles for this template -->
        <link href="css/signin.css" rel="stylesheet">
    </head>
    <body class="text-center">      
        <div class="container">
            <div class="card">
                <h1>Ingreso exitoso</h1>
            </div>
            <a type="button" class="btn btn-warning mt-3" href="/logout">Salir</a>
        </div>
    </body>
</html>
